.aux-weather {
	width: 50%;
	height: 30%;
	padding: 2rem;
	margin: 1rem;
	font-size: large;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2rem;
}

.aux-weather div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.aux-weather div p {
	justify-content: space-between;
}

@media (max-width: 480px) {
	.aux-weather {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 30%;
		text-align: center;
		margin: 1rem;
		padding: 2rem;
		gap: 0;
	}
}
