.time-display {
	margin: 0.5rem;
	padding-bottom: 1rem;
}

.temp-display {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.real-temp {
	display: flex;
	font-size: 10rem;
	padding-right: 2rem;
	border-right: 2px solid grey;
}

.real-temp div {
	font-size: 5rem;
	margin-top: 1.75rem;
}

.feel-temp {
	justify-self: center;
	align-self: center;
	font-size: 1.5rem;
}

.feel-temp p {
	text-align: start;
}

.feel-temp div {
	display: flex;
	font-size: 4rem;
}

.feel-temp div div {
	font-size: 2rem;
	margin-top: 0.75rem;
}

@media (max-width: 480px) {
	.temp-display {
		display: flex;
	}

	.real-temp {
		font-size: 5rem;
	}

	.real-temp div {
		font-size: 3rem;
		margin-top: 0.75rem;
	}

	.feel-temp {
		font-size: large;
	}

	.feel-temp p {
		font-size: 1rem;
	}

	.feel-temp div {
		font-size: 3rem;
	}

	.feel-temp div div {
		font-size: 1.25rem;
	}
}
