.today-weather {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	flex: 2 1 auto;
}

.weather-main {
	margin-bottom: 1rem;
	padding: 2.5rem;
}

@media (max-width: 480px) {
	.today-weather {
		height: 80svh;
		flex-direction: column;
		justify-content: flex-start;
	}
}
