.today-weather {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 1rem;
	flex: 2 1 auto;
}

.weather-main {
	margin: 1rem 0 0;
	padding: 0 2.5rem 1rem;
}

@media (max-width: 480px) {
	.today-weather {
		height: 80svh;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}
}
