.weather-state {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}

@media (max-width: 480px) {
	.weather-state {
		flex-direction: column;
	}
	.weather-state div {
		font-size: xx-large;
	}
}
